@use "./breakpoint.scss" as *;
@use "./galaxy.scss" as galaxy;

//$background-image: url(../images/bg.png) no-repeat center center fixed;
$background-color: #ffffff;
$background-dropdown: #050510;

$color-page: rgb(5, 6, 20);

.copy-trade{
  background: #fff;
  .banner{
    background: #0e1015;
  }
  .card{
    font-size: 12px;
  }
}