@use "./breakpoint.scss" as *;
@use "./galaxy.scss" as galaxy;

//$background-image: url(../images/bg.png) no-repeat center center fixed;
$background-color: #ffffff;
$background-dropdown: #050510;

$color-page: rgb(5, 6, 20);

.future-overview{
  background: #fff;
  .banner{
    background: #0e1015;
    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .title{
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
      }
      .desc{
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
      }
    }
    .price-live{
      padding: 8px 22px;
      color: #fff;
      .price-name{
        align-items: center;
        display: flex;
        margin-bottom: 12px;
      }
      .price{
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    
    
  }
  .bg-grey{
    background: #f2f2f2;
  }
  .welcome-gift{
    .coupon-box{
      .coupon-left{
        background: #f2f2f2;
        border: 1px solid #e9eaed;
        border-radius: 8px;
        border-right: none;
        padding: 18px 0;
        text-align: center;
      }
      .coupon-right{
        border: 1px solid #e9eaed;
        border-left-style: dashed;
        border-radius: 8px;
        flex: 1 1;
        padding: 16px 8px;
      }
    }
  }
}