@use "./breakpoint.scss" as *;
@use "./galaxy.scss" as galaxy;
@use "./breakpoint.scss" as *;
//$background-image: url(../images/bg.png) no-repeat center center fixed;
$background-box: #141517;
$border-color: rgba(33, 38, 50, .5);

.trading {
    background: #000000;
    padding: 5px 0;
    font-size: 14px;

    .text-white {
        color: #d7ddeb !important;
    }

    .modal {
        .modal-content {
            border: none;

            .modal-body {
                background: $background-box;
            }
        }
    }

    .nav {
        .nav-item {
            .nav-link {
                color: #7e8697;
                font-size: 14px;
                background: transparent;
                position: relative;
            }

            .active {
                color: #d7ddeb;
            }
        }
    }

    .nav-trade {
        border-bottom: 1px solid $border-color;

        .nav-item {
            .nav-link {
                color: #7e8697;
                font-size: 16px;
                background: transparent;
            }

            .active {
                color: #d7ddeb;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 50%;
                    width: 16px;
                    height: 2px;
                    background: #0094ff;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .form-select {
        background-color: #1a1c24;
        border: none;
        color: #95959c;
        font-size: 12px;

        &:focus {
            background: #1a1c24;
        }
    }

    .coinlist {
        width: 320px;
        background: $background-box;
        border-radius: 5px;
        color: #95959c;

        @include sm {
            width: 100%;
        }

        .coin-img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            object-fit: cover;
        }

        .coin-tag {
            border-bottom: 1px solid $border-color;
        }

        .input-group {
            // border: 1px solid $border-color;
            background: #1a1c24;
            border-radius: 5px;

            .input-group-text {
                background: transparent;
                border-color: #95959c;
                border: none;
                color: #383e4a;
            }

            .form-control {
                background: transparent;
                border: none;
                color: #7e8697;
                font-size: 13px;

                &::placeholder {
                    color: #383e4a;
                }
            }
        }

        .coin-list-block {
            font-size: 12px;

            .coin-list-block-header {
                color: #4d5462;
            }

            .coin-list-block-body {
                height: 747px;
                overflow-y: auto;

                .coin-item {
                    cursor: pointer;

                    &:hover {
                        background: #1c1e28;
                    }
                }
            }
        }

        .type-coin {
            border-bottom: 1px solid $border-color;
            margin-bottom: 5px;
        }
    }

    .btn-account {
        color: #d7ddeb;
        background: #1a1c24;
        font-size: 12px;
    }

    .ticker-name {
        font-size: 12px;
        color: #7e8697;
    }

    .order-list {
        width: 280px;
        background: $background-box;
        border-radius: 5px;
        color: #95959c;

        @include sm {
            width: 100%;
        }

        .full-list-block {
            height: 379px;
        }

        .list-block {
            height: 799px;
        }

        .market-list-block {
            height: 820px;
        }

        .order-list-body-item {
            font-size: 12px;
        }

        .title-header {
            color: #4d5462;
        }
    }

    .coin-name {
        font-size: 22px;
        color: #d7ddeb;
    }

    .account {
        width: 300px;
        background: $background-box;
        border-radius: 5px;
        color: #95959c;
        height: 300px;

        @include sm {
            width: 100%;
        }
    }

    .main-block {
        background: $background-box;
        border-radius: 5px;
        color: #95959c;

        .main-block-header {
            border-bottom: 1px solid $border-color;
            font-size: 12px;
        }

        .main-block-body {
            .chart-block {
                height: 420px;
                overflow: hidden;
            }

            .introduction-block {
                height: 370px;
                overflow-y: scroll;
                font-size: 14px;
                color: #4d5462;

                .title-name {
                    font-size: 18px;
                    color: #fff;
                    font-weight: 700;
                }

                .title-subname {
                    font-size: 16px;
                    color: #4d5462;
                }

                .intro-right {
                    font-size: 12px;

                    .title {
                        font-size: 16px;
                    }

                    .rank {
                        border: 1px solid #262b33;
                        border-radius: 12px;
                        margin-top: 16px;
                        padding: 12px 16px;

                        .rank-item {
                            text-align: center;

                            .rank-item-value {
                                font-size: 20px;
                                font-weight: 300;
                            }
                        }
                    }

                    .social-icon {
                        width: 30px;
                        height: 30px;
                        border: 1px solid #262b33;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .btn-resource {
                        border: 1px solid #262b33;
                        border-radius: 999px;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 400;
                        height: 36px;
                        line-height: 18px;
                        margin-right: 12px;
                        padding: 8px 12px;
                        background: transparent;
                        @extend .text-white;

                        &:hover {
                            background: rgba(33, 38, 50, .5);
                        }
                    }
                }
            }
        }

        .ticker-status {
            font-size: 12px;
            color: #4d5462;

        }
    }

    .ctrl-block {
        background: #0c0d0e;
        border-radius: 5px;
        color: #7e8697;
        height: 420px;
        font-size: 12px;

        @include sm {
            height: auto !important;
        }

        .nav-trade {
            border-color: #383f66;
        }

        .nav-limit {
            border-bottom: 1px solid #383f66;
        }

        .input-group {
            border-radius: 5px;
            background: #1a1c24;
            border: 1px solid transparent;
            height: 34px;
            padding: 0 !important;

            &:hover {
                border: 1px solid #2962ff;
            }

            .form-control {
                background: transparent;
                border: none;
                color: #ffffff;
                font-size: 14px;

                &::placeholder {
                    color: #464c59;
                }
            }

            .input-group-text {
                background: transparent;
                border: none;
                color: #d7ddeb;
                font-size: 12px;
            }
        }

        .form-range {
            &::-webkit-slider-thumb {
                background: #fff;
                border: 1px solid #95959c;
                transform: translateY(-20%);
            }

            &::-webkit-slider-runnable-track {
                background: #1a1c24;
                height: 2px;
            }
        }
    }

    .tab-ctrl {
        .nav-link {
            color: #95959c;
            font-size: 12px;
            background: #1a1c24 !important;
        }

        .nav-item:nth-child(1) {
            .active {
                color: #fff;
                background: #157347 !important;
            }
        }

        .nav-item:nth-child(2) {
            .active {
                color: #fff;
                background: #dc3545 !important;
            }
        }

    }

    .offcanvas-ctrl {
        width: 100% !important;
        height: 75vh !important;

        .input-group {
            border-radius: 5px;
            background: #1a1c24;

            .form-control {
                background: transparent;
                border: none;
                color: #ffffff;
                font-size: 12px;

                &::placeholder {
                    color: #95959c;
                }
            }

            .input-group-text {
                background: transparent;
                border: none;
                color: #fff;
                font-size: 12px;
            }
        }

        .form-range {
            &::-webkit-slider-thumb {
                background: #fff;
                border: 1px solid #95959c;
                transform: translateY(-20%);
            }

            &::-webkit-slider-runnable-track {
                background: #1a1c24;
                height: 2px;
            }
        }
    }

    .trade-history {
        background: $background-box;
        border-radius: 5px;
        color: #95959c;

        .table {
            font-size: 12px !important;

            th {
                font-weight: 300;
            }

        }

        .table>:not(caption)>*>* {
            background-color: transparent;
            color: #95959c;
        }
    }

    .klinecharts-pro-indicator-modal-list {
        height: 280px !important;
    }
}