@use "./breakpoint.scss" as *;
@use "./galaxy.scss" as galaxy;
@use "./breakpoint.scss" as *;
//$background-image: url(../images/bg.png) no-repeat center center fixed;
$background-box: #161616;
$border-color: #95959c67;
.trading-bot{
    background: #000000;
    padding: 5px 0;
    font-size: 10px;
    .modal{
        .modal-content{
            border: none;
            .modal-body{
                background: $background-box;
            }
        }
    }
    .nav{
        .nav-item{
            .nav-link{
                color: #95959c;
                font-size: 10px;
                background: transparent;
                position: relative;
            }
            .active{
                color: #fff;
            }
        }
    }
    .nav-trade{
        border-bottom: 1px solid $border-color;
        .nav-item{
            .active{
                color: #fff;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 50%;
                    width: 50%;
                    height: 2px;
                    background: #fff;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .form-select{
        background-color: #1a1c24;
        border: none;
        color: #95959c;
        font-size: 10px;
        &:focus{
            background: #1a1c24;
        }
    }
    .coinlist{
        width: 300px;
        background: $background-box;
        border-radius: 5px;
        color: #95959c;
        @include sm{
            width: 100%;
        }
        .coin-img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
        }
        .coin-tag{
            border-bottom: 1px solid $border-color;
        }
        .input-group{
            border: 1px solid $border-color;
            border-radius: 5px;
            .input-group-text{
                background: transparent;
                border-color: #95959c;
                border: none;
                color: #95959c;
            }
            .form-control{
                background: transparent;
                border: none;
                color: #ffffff;
                &::placeholder{
                    color: #95959c;
                }
            }
        }
        .coin-list-block{
            .coin-list-block-body{
                height: 408px;
                overflow-y: auto;
                .coin-item{
                    cursor: pointer;
                    &:hover{
                        background: #1c1e28;
                    }
                }
            }
        }
    }
    .btn-account{
        color: #d7ddeb;
        background: #1a1c24;
        font-size: 12px;
    }
    .order-list{
        width: 300px;
        background: $background-box;
        border-radius: 5px;
        color: #95959c;
        @include sm{
            width: 100%;
        }
        .full-list-block{
            height: 372px;
        }
        .list-block{
            height: 790px;
        }
        .market-list-block{
            height: 818px;
        }
    }
    .account{
        width: 300px;
        @include sm{
            width: 100%;
        }
        background: $background-box;
        border-radius: 5px;
        color: #95959c;
        height: 300px;
        
    }
    .main-block{
        background: $background-box;
        border-radius: 5px;
        color: #95959c;
        .main-block-header{
            border-bottom: 1px solid $border-color;
        }
        .main-block-body{
            .chart-block{
                height: 503px;
            }
        }
    }
    .ctrl-block{
        background: $background-box;
        border-radius: 5px;
        color: #95959c;
        width: 300px;
        height: 575px;
        font-family: Roboto, sans-serif;
        .input-group{
            border-radius: 5px;
            background: #1a1c24;
            .form-control{
                background: transparent;
                border: none;
                color: #ffffff;
                font-size: 12px;
                &::placeholder{
                    color: #95959c;
                }
            }
            .input-group-text{
                background: transparent;
                border: none;
                color: #fff;
                font-size: 12px;
            }
        }
        .form-range{
            &::-webkit-slider-thumb{
                background: #fff;
                border: 1px solid #95959c;
                transform: translateY(-20%);
            }
            &::-webkit-slider-runnable-track{
                background: #1a1c24;
                height: 2px;
            }
        }
    }
    .tab-ctrl{
        .nav-link{
            color: #95959c;
            font-size: 10px;
            background: #1a1c24 !important;
        }
        .nav-item:nth-child(1){
            .active{
                color: #fff;
                background: #157347 !important;
            }
        }
        .nav-item:nth-child(2){
            .active{
                color: #fff;
                background: #dc3545 !important;
            }
        }
        
    }
    .offcanvas-ctrl{
        width: 100% !important;
        height: 75vh !important;
        .input-group{
            border-radius: 5px;
            background: #1a1c24;
            .form-control{
                background: transparent;
                border: none;
                color: #ffffff;
                font-size: 12px;
                &::placeholder{
                    color: #95959c;
                }
            }
            .input-group-text{
                background: transparent;
                border: none;
                color: #fff;
                font-size: 12px;
            }
        }
        .form-range{
            &::-webkit-slider-thumb{
                background: #fff;
                border: 1px solid #95959c;
                transform: translateY(-20%);
            }
            &::-webkit-slider-runnable-track{
                background: #1a1c24;
                height: 2px;
            }
        }
    }
    .trade-history{
        background: $background-box;
        border-radius: 5px;
        color: #95959c;
        .table>:not(caption)>*>* {
            background-color: transparent;
            color: #95959c;
        }
    }
}