# System
JWT_KEY=development
ENABLE_SETUP=true
LIMIT_RATE=1000
API_CRM=
API_DOCUMENT_PASSWORD=123123
SSL_PRIVATE_CRT=crt.crt
SSL_PRIVATE_KEY=key.key
IPS=127.0.0.1,::1
CORS=http://localhost:8888
IMAGE_URL_LINK=https://localhost:2053

# Upload server
UPLOAD_LINK=https://

# Database (MySQL)
DB_HOST=localhost
DB_PORT=8889
DB_DATABASE=taekwondo_club
DB_USERNAME=root
DB_PASSWORD=root

# Mail
FRONTEND_URL=http://localhost:3000
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_BASE_URL=https://api.mailgun.net/

# Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=